html{
    background-color: rgb(176, 233, 245);
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

header{
    display: flex;
    width: 100%;
    height: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6rem;
    justify-content: center;
    font-weight: bold;
    color: hsl(184, 95%, 17%);
}

main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    max-width: 100%;
}

.titulo_palavra{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;

 }

.fotos{
    max-width: 100%;
    width: 17rem;
    height: 17rem;
}
 

.buscar_perfis{
    width: 100%;
    margin: 2rem;
    border: 0.3rem solid hsl(184, 95%, 17%);
    border-radius: 6rem;
    padding: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-align: center;
    border-top-color: hsl(184, 95%, 17%);
    border-left-color: hsl(184, 95%, 17%);
    background-color:  rgb(234, 242, 247);
}

footer{
    display: flex;
    width: 100%;
    height: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    justify-content: center;
}

.enviar {
    position: relative;
    width: 10rem;
    margin: 1rem;
    border: 0.3rem solid  hsl(184, 95%, 17%);
    border-top-color:  hsl(184, 95%, 17%);
    border-left-color:  hsl(184, 95%, 17%);
    padding: 0.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    align-self: flex-end;
}

.enviar:active {
    border-top-color:hsl(184, 95%, 25%);
    border-right-color: hsl(184, 95%, 25%);
    border-bottom-color: hsl(184, 95%, 25%);
    border-left-color:hsl(184, 95%, 25%);
    background-color:  rgb(234, 242, 247);
}

.enviar:active span {
    position: relative;
    top: 1px;
    left: 1px;
}

.voltar_tela{
    width: 25rem;
    margin: 2rem;
    border: 0.5rem solid hsl(184, 95%, 17%);
    border-radius: 1.2rem;
    border-top-color:hsl(184, 95%, 17%);
    border-left-color: hsl(184, 95%, 17%);
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(234, 242, 247);
    align-self: center;  
}