html{
    background-color: hsl(200, 7%, 95%);
    flex-direction: column;
    width:100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
}

header{
    display: flex;
    width: 100%;
    height: 10%;
    font-family: 'GFS Didot', serif;
    font-size: 6rem;
    font-weight: bold;
    justify-content: center;
    color: hsl(200, 37%, 36%)
}

h1{
    justify-content: center; 
    text-align: center;
}

main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

div{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.imagem_resumo{
    margin: 1rem;
    border: 0.3rem solid;
    border-color: hsl(200, 37%, 36%);
}

.buscar{
    border: 0.1rem solid hsl(200, 7%, 66%);
    padding: 2%;
    font-size: 1.5rem;
    text-align: center;
    border-top-color: hsl(200, 7%, 66%);
    border-left-color: hsl(200, 7%, 66%);
    align-self: center;
    border-radius: 1rem;
    font-family: 'Lato', sans-serif;
}

footer{
    display: flex;
    width: 100%;
    height: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    justify-content: center;
}

.voltar_tela{
    width: 25rem;
    margin: 2rem;
    border: 0.2rem solid hsl(200, 7%, 18%);
    border-radius: 1.2rem;
    border-top-color:hsl(200, 7%, 18%);
    border-left-color: hsl(200, 7%, 18%);
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    background-color: hsl(200, 7%, 95%);
    align-self: center;
    font-family: 'Lato', sans-serif;
}