html{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: rgb(176, 233, 245);
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    width: 100%;
    align-items: center;
}

.logo{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.menu{
    width: 45%;
    height: auto;
    max-width: 100%;
}

.buscar_perfis{
    width: 70%;
    margin: 1rem;
    padding: 0.4rem;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-align: center;
    border: 0.1rem solid gray;
    border-top-color: gray;
    border-left-color: gray;
    border-radius: 3rem;
}

.resumos_postagens{
    font-size: 3rem;
    max-width: 100%;
}

.botao{
    max-width: 100%;
    width: 80%;
    margin: 1rem;
    border: 1rem solid hsl(184, 95%, 17%);
    padding: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-align: center;
    border-top-color: hsl(184, 95%, 17%);
    border-left-color: hsl(184, 95%, 17%);
    align-self: center;
    background-color: rgb(234, 242, 247);
    border-radius: 1.5rem;
}

.botao:active {
    border-top-color: hsl(184, 95%, 25%);
    border-right-color: hsl(184, 95%, 25%);
    border-bottom-color: hsl(184, 95%, 25%);
    border-left-color: hsl(184, 95%, 25%);
    background-color: rgb(247, 245, 159);
}

.botao:active span {
    position: relative;
    top: 0.06rem;
    left: 0.06rem;
}