body{
    height: 100%;
    width: 100%;
    margin: 1rem 1rem 0;
}

header{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 1rem;
    padding: 5%;
    justify-content: center;
}

.botao {
    width: 100%;
    margin: 5%;
    border: 1rem solid blueviolet;
    padding: 5%;
    font-size: 400%;
    text-align: center;
    border-top-color: blueviolet;
    border-left-color: blueviolet;
    align-self: center;
}

.botao:active {
    border-top-color: black;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: black;
}

.botao:active span {
    position: relative;
    top: 1px;
    left: 1px;
}

.buscar_perfis{
    width: 90%;
    margin: 5%;
    border: 0.1rem solid gray;
    padding: 5%;
    font-size: 400%;
    text-align: center;
    border-top-color: gray;
    border-left-color: gray;
    align-self: center;
}